.currentPoints {
    padding-left: 10%;
    font-size: 32px;
    float: left;
    font-weight: bold;
}

.pointsChange {
    float: right;
    padding-right: 10%;
    font-size: 28px;
    font-weight: bold;
}

.positive {
    color: limegreen;
}

.negative {
    color: red;
}

.taskOverview {
    text-align: center;
    margin-top: 16px;
    padding-top: 16px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 32px;

    border-top: 1px solid black;
}

.taskOverview h1 {
    font-weight: bold;
    font-size: 28px;
}

.taskOverview .taskName {
    float: left;
}

.taskOverview .taskPoints {
    float: right;
}

.homeFiveKeyCategory {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.keyPoints {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    font-size: 32px;
}

.keyPoints ion-icon {
    font-size: 48px;
    padding-right: 8px;
}

.work ion-icon {
    --border-color: green;
    color: green;
}

.health ion-icon {
    --border-color: grey;
    color: grey;
}

.social ion-icon {
    --border-color: tan;
    color: tan;
}

.relationships ion-icon {
    --border-color: darkred;
    color: darkred;
}

.coping ion-icon {
    --border-color: darkblue;
    color: darkblue;
}

ion-title {
    font-weight:bold;
}