.logo {
    height: 90px
}
.appTitle {
    height: 110px;
    

}



.helpText {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.backgroundColor {
    --ion-background-color: linear-gradient(to bottom, #e5f7f8, #FFFFFF);
}

.loginButton {
    position: absolute;
    bottom: 15%;
    left: 30%;
    width: 40%;
}

ion-modal {
    --ion-background-color: #e5f7f8;
}

.verticalCenter {
    top: 50%;
}
