
.hammericon {
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    color: black;
}



.missionCategory {
    text-align: center;
}

.islandImg {
    width: 100%;
    position: relative, fixed;
}

.parentImage {
}

.childBoat {
    position: absolute;
    position: absolute;
    top: 27%;
    left: 70%;
    height: 10%;
}

.childHouse {
    position: absolute;
    top: 19%;
    left: 15%;
    height: 15%;
}

.houseImg {
    height: 200px;
}

.buttonLeftCol {
    width: 75%;
    float: left;
    white-space: normal;
}

.buttonRightCol {
    padding-left: 5px;
}

.iconPicWork {
    font-size: 30px;
    color: green;
    padding-right: 0px;
}

.iconPicHealth {
    font-size: 30px;
    color: blue;
    padding-right: 0px;
}
.allTaskButtonIconWork {
    opacity:0.4;
    z-index:-1;
    position:relative;
    left:-24%;
    font-size:24px;

}
.allTaskButtonIconHealth {
    opacity: 0.4;
    z-index: -1;
    position: relative;
    left: -33%;
    font-size: 24px;
}
.allTaskButtonIconComm {
    opacity: 0.4;
    z-index: -1;
    position: relative;
    left: -42%;
    font-size: 24px;
}
.allTaskButtonIconLaw {
    opacity: 0.4;
    z-index: -1;
    position: relative;
    left: -23%;
    font-size: 24px;
}
.allButtonTextWork {
    left:25%;
}
.allButtonTextHealth {
    left: 20%;
}
.allButtonTextComm {
    left: 12%;
}
.allButtonTextLaw {
    right:-50px;
}
.leftCol {
    width: 50%;
}
.rightCol {
    width:50%;
}

.segmentButtons {
    width:50%;
}
.slide1 {
    width:90%;
}
.taskButtons {
    --box-shadow:none;
    --border-style:solid;
}

.allTaskButton {
    height: 100%;
    background-color: white;
}

.categoryButtonContents {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: black;
    white-space: normal;
    font-size: medium;
}

.categoryButtonContents ion-icon {
    font-size: 64px;
}

ion-button.work::part(native), ion-button.work ion-icon {
    --border-color: green;
    color: green;
}

ion-button.health::part(native), ion-button.health ion-icon {
    --border-color: grey;
    color: grey;
}

ion-button.social::part(native), ion-button.social ion-icon {
    --border-color: tan;
    color: tan;
}

ion-button.relationships::part(native), ion-button.relationships ion-icon {
    --border-color: darkred;
    color: darkred;
}

ion-button.coping::part(native), ion-button.coping ion-icon {
    --border-color: darkblue;
    color: darkblue;
}