.pointtotal {
    text-align: center;
    white-space:nowrap;
    overflow-x: auto;
    
    
}

.hammericon {
    height: 50px;
    width:50px;
    margin-left:auto;
    margin-right:auto;
    display:inline-block;
    
}
