.reward-icon {
    font-weight: bold;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.reward-icon ion-icon, .reward-icon ion-text {
    display: inline-block;
    vertical-align: middle;
}

h5 {
	text-align: center;
	color: grey;
}

h5 > span {
	color:black;
}
